<div align="center"><%= image_tag "starfield.jpg", class: "background" %></div>
<section id='new-choice-form' class="container form">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <%= form_for :choice, url: {action: "update"}, method: "patch" do |f| %>
        <fieldset>
          <h1 class="text-center">New Choice</h1>

          <div class="form-group">
            <label class="col-md-4 control-label" for="story">Story</label>
            <div class="col-md-8">
              <%= f.text_area :story, required: true, class: "form-control" %><br>
            </div>
          </div>

          <div class="container">
            <div class="form-group">
              <label class="col-md-4 control-label" for="choiceAtext">First Choice</label>
              <div class="col-md-8">
                <%= f.text_field :choice_a_text, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <% if @choice.child_a %>
                  <%= link_to "Edit Path A", edit_choice_path(@choice.game_id, @choice.child_a), class: "edit btn btn-warning" %>
                <% else %>
                  <%= button_to "Create Path A", create_a_child_path(@choice.game_id, @choice.id, "a"), formmethod: "post", formaction: create_a_child_path(@choice.game_id, @choice.id, "a"), class: "edit btn btn-warning" %>
                <% end %>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="form-group">
              <label class="col-md-4 control-label" for="choiceBtext">Second Choice</label>
              <div class="col-md-8">
                <%= f.text_field :choice_b_text, class: "form-control" %><br>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-12">
                <% if @choice.child_b %>
                  <%= link_to "Edit Path B", edit_choice_path(@choice.game_id, @choice.child_b), class: "edit btn btn-warning" %>
                <% else %>
                  <%= button_to "Create Path B", create_b_child_path(@choice.game_id, @choice.id, "b"), formmethod: "post", formaction: create_b_child_path(@choice.game_id, @choice.id, "b"), class: "edit btn btn-warning" %>
                <% end %>
            </div>
          </div>

          <% unless @parent.nil? %>
            <%= f.hidden_field :parent_id, :value => @parent.id %>
          <% end %>

          <div class="form-group">
            <div class="col-md-12">
              <%= f.submit "Save", class: "btn btn-success" %>
            </div>
          </div>
          
          
        </fieldset>
      <% end %>

    </div>
  </div>