<div>
  <h3>Your information</h3>
  Name: <%= @user.name %>
  <br>
  Email: <%= @user.email %>
</div>
<div class="btn-group" role="group">
  <h3>Your Games</h3>
  <% @user.games.each do |game| %>
    <li><%= link_to game.title, "/games/#{game.id}" %> </li>
    <button type="button"><%= button_to "Edit", edit_game_path(game.id), method: "get", class: "btn-warning " %></button>
    <button><%= button_to "Delete", delete_game_path(game.id), method: "delete", data: {confirm: "Are you sure you want to delete this game?"}, class: "btn btn-danger" %></button>
  <% end %>
</div>
<div>
  <% if params[:id] == session[:user_id].to_s || params[:action] == "profile" %>
    <div class="col-xs-1 col-xs-offset-4">
      <%= button_to "Edit Profile", edit_user_path(@user.id), method: "get", class: "btn btn-primary" %>
    </div>
    <div class="col-xs-1 col-xs-offset-1">
      <%= button_to "Delete", url_for(action: :destroy, id: @user.id),method: :delete, data: {confirm: "Are you sure you want to delete yourself and all your wonderfull stories that are read by so many of our delighted users?"}, class: "btn btn-danger" %>
    </div>
<% end %>
</div>
