<!DOCTYPE html>
<html>
<head>
  <title>AdventureCreator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Adventures!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right nav-pills">
            <% if current_user %>
              <li role="presentation"><%= link_to "Profile", my_profile_path %></li>
              <li role="presentation"><%= link_to "Logout", logout_path %></li>
            <% else %>
              <li role="presentation"><%= link_to "Sign Up", new_user_path %></li>
              <li role="presentation"><%= link_to "Login", login_path %></li>
            <% end %>
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div>
      <% flash.each do |name, msg| %>
        <div id="flash_messages">
        <br>
          <div class="alert alert-info" role="alert">
            <%= msg %>
          </div>
        </div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>




